<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/male"
            android:label="Alpha Contacts"
            android:roundIcon="@mipmap/male"
            android:supportsRtl="true"
            android:theme="@style/Theme.AlphaLogin"
            tools:targetApi="31"
            tools:ignore="ObsoleteSdkInt">
        <activity
                android:name=".SplashActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".RegisterActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".ContactsActivity"
                android:exported="true">
        </activity>
    </application>

</manifest>